:root {
    --icon-color: #F4F4FD;
    --navy-blue: #2E2F42;
    --modal-label-color: #8e8f99;
    --iris: #4D5AE5;
    --icon-background: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
  }
  
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

img {
    display: block;
}

.container {
    display: flex;
    justify-content: center; 
    /* min-width: 320px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.header-container {
    opacity: 0;
    position: fixed;
    pointer-events: none;
}


.logo {

    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    flex-shrink: 0;
    margin-right: 120px;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.webspan {
    color: #2e2f42;
}

.header-block {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}

.header-nav-menu {
    display: flex;
    gap: 40px;
}



.first-link-header-menu {
    position: relative;
    color: #404bbf;
}

.header-nav-menu:first-child .header-nav-link {
    color: #404bbf;
}

.header-nav-element {
    position: relative;
    color: #404bbf;
}

.first-link-header-menu::after {
    content: '';
    width: 100% ;
    position: absolute; 
    left: 0;
    bottom: -1px; 
    height: 4px; 
    background-color: #404bbf; 
    border-radius: 2px;
}


.header-nav-element,
.header-addr-element {
    display: inline;
    list-style-type: none;
}


.header-nav-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-link-header-menu {
    position: relative;
    color: #404bbf;
}

.header-nav-link:hover{
    color: #404BBF;
}

.header-nav-link:active{
    color: #404BBF;
}

.header-nav-link:focus{
    color: #404BBF;
}

.header-addr {
    display: flex;
    flex-direction: row;
    font-style: normal;
}



.header-nav-addr{ 
    display: flex;  
    gap: 12px;
    font-weight: 400;
    list-style-type: none;
    color: #434455;
}

.header-addr-element {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link{
    text-decoration: none;
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    letter-spacing: 0.48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover{
    color: #404BBF;
}

.link:active{
    color: #404BBF;
}

.link:focus{
    color: #404BBF;
}

.section {
    display: flex; 
    max-width: 100%;

}

.service-section {
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/hero-m1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    margin: 0 auto;
    height: 432px;
}


.main-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    margin: 72px 52px;
}

.service-button {
    display: block;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 14px 30px;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover {
    background-color: #404BBF;
}

.service-button:focus {
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-container {
    display: flex;
    justify-content: center; 
    border-radius: 4px;
    padding-bottom: 96px;
}

.about-us-list{
    margin-top:  24px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}


.about-us-li {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 72px;
    max-width: 356px;
}

.about-us-name{
    color: var(---navy-blue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
}

.about-us-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.team {
    display: flex;
    justify-content: center; 
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #F4F4FD;
    padding-bottom: 96px;
    
}


.team-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 96px; 
    margin-bottom: 72px;
    font-style: normal;

}

.third-section-container {
    display: flex;
    flex-direction: column;
}



.team-list {
    margin: 0; 
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

.team-card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.empl-info {
    padding: 32px 0;
}

.description-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center; 
    margin-bottom: 8px;
}

.description-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-align: center;
    margin-bottom: 8px;
}

.portfolio {
    display: flex;
    padding-top: 96px; 
    padding-bottom: 96px;
}

.fourth-section-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 24px; 
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    text-align: left;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-img {
    height: 280px;
    max-width: 288px;
    object-fit: cover; 
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-card:hover .portfolio-picture .portfolio-img-text{
    transform: translateY(0%);
}

.portfilio-card-block {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #E7E9FC;
    border-width: 1px;
    padding: 32px 16px;
}

.portfolio-img-text {
    position: absolute; 
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--icon-color);
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-picture {
    position: relative;
    overflow: hidden; 
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-footer {
    display: flex;
    background-color: #2E2F42;
    padding: 96px 16px;
    align-items: center;

}

.logo-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}
 
.webspan-footer {
    color: #F4F4FD;
}

.logo-footer {
    display: inline-block; 
    font-family: "Raleway";
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex-shrink: 0;
    margin: 0 auto;
}

.footer-text {
    font-family: Roboto;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.icon-container {
    display: flex;
    background-color: #F4F4FD;
    border-color: #8E8F99;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 112px;
    /* margin-bottom: 8px;  */
    height: 0px;
    opacity: 0;
    pointer-events: none;
}


.icon {
    margin: 24px;
}

.social-midia-block-ft {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0, auto;
    gap: 16px;
}


.social-midia-block {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    gap: 24px;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.social-link{
    display: flex;
    width: 40px;
    height: 40px; 
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.social-link-footer{
    display: flex;
    width: 40px;
    height: 40px; 
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon,
.social-icon-ft {
    fill: var(--icon-color);
}

.social-link:hover, 
.social-link:focus,
.social-link:active {
    background-color: #404bbf;
}

.social-link-footer:hover,
.social-link-footer:focus,
.social-link-footer:active {
    background-color: #31D0AA;
}

.social-header {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin: 72px auto 16px auto;
}

.footer-form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}

.footer-social-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subs-name {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #ffffff; 
}

.subs-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}



.subs-input {
    max-width: 264px;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff; 
    opacity: 0.3;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px;
    color: #ffffff; 

}

.subs-input::placeholder {
    color: #ffffff;
}

.subs-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center; 

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;

    align-items: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
}

.icon-subs {
    margin-left: 16px; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 288px;
    min-width: calc(320px - 32px);
    /* min-height: 584px; */
    height: 632px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 72px 24px 24px 24px;  */
    padding: 16px;
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-button:hover {
    background-color: #404bbf; 
    border: none; 
}

.modal-close-button:focus {
    background-color: #404bbf;
    border: none; 
}

.close-icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--navy-blue);
    
}

.modal-close-button:hover .close-icon-modal, 
.modal-close-button:focus .close-icon-modal {
    fill: #ffffff;
}


.modal-name {
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5; 
    text-align: center; 
    letter-spacing: 0.02em; 
    color: var(--navy-blue);
    margin-bottom: 16px; 
    margin-top: 60px; 
}

.modal-form-content {
    margin-bottom: 8px; 
}

.comment-modal-form-content {
    margin-bottom: 16px
}

.modal-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: var(--modal-label-color);

    margin-top: 8px; 
}

.modal-input-block {
    position: relative; 
}


.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5; 
}

.modal-icon {
    fill: var("--navy-blue");
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input:focus + .modal-icon {
    fill: var(--iris);
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.user-comment:focus {
    border-color: #4D5AE5; 
}

.input-agreement-content {
    margin-bottom: 24px;
}

.comment-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px
}

.user-privacy-span {
    width: 16px; 
    height: 16px;
    min-width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    fill: transparent; 
}

.input-privacy:checked + .comment-label .user-privacy-span {
    background-color: var(--icon-background);
    border: none;
    fill: var(--icon-color);
}


.privacy-link {
    color: var(--iris)
}

.modal-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.mobile-header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    opacity: auto;
    position: relative;
    width: 100%;
    top: 0px;
}

.burger-icon {
    fill: #2F2F37;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.mobile-menu-button:hover .burger-icon{
    fill: blue;
}

.mobile-bugrer-nav{
    padding-top: 72px;
}

.mobile-bugrer-menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    
}

.mobile-bugrer-menu .header-nav-element .header-nav-link {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    padding: 0 16px;
}

.mobile-bugrer-addr {
    padding-top: 168px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-style: normal;
}

.mobile-bugrer-addr-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-left: 16px;

}


.mobile-bugrer-addr-list .header-addr-element .link {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.mobile-burger-social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    margin-top: 48px;
    margin-left: 16;
    margin-right: auto;
}



.first-link-burger-menu {
    color: #404bbf;
}


@media (min-width: 768px) {
    .service-section {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-p1x.jpg");
    }


    .header-container{
        height: 72px;
        display: flex;
        flex-direction: column; 
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;

        opacity: 1;
        position: relative;
        pointer-events: auto;
    
    }

    .main-title {
        margin-top: 112px;
        margin-bottom: 36px;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 107.143% */
        letter-spacing: 1.12px;
        width: 496px;
    }

    .about-us-name {
        text-align: left;
    }

    .about-us-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .about-us-li {
        flex-basis: calc((100% - 24px) / 2);
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        padding: 0 calc((100% - 264px - 264px - 24px) / 2);

    }

    .portfolio-list {
        flex-direction: row;
    }
    
    .portfolio-card,
    .portfolio-img {
        width: 356px;
    }

    .portfolio-img {
        height: 300px;
    }

    .header-nav-addr {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: end;
        text-align: right;
        margin: 16px, 0;

    }

    .footer-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: baseline; */
        /* justify-content: center; */
        row-gap: 72px;
        column-gap: 24px;
        padding-left: calc((100% - 48px - 264px - 208px) / 2);
        padding-right: calc((100% - 48px - 264px - 208px) / 2);
    }

    .footer-social-block {
        text-align: left;
    }

    .social-header {
        margin-top: 0;
        margin-left: 0;
        text-align: left;
    }

    .logo-block {
        width: 264px;
    }

    .logo-footer {
        margin-left: 0;
    }

    .footer-form-block {
        margin-top: 0;
        align-items: flex-start;
    }

    .subs-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .subs-input {
        width: 264px;
    }

    .mobile-header {
        opacity: 0;
        position: fixed;
        pointer-events: none;
    }

    .modal-overlay {
        padding: 0;
    }

    .modal {
        max-width: 408px;
        height: 584px;
        padding: 24px;


    }

    .modal-name {
        margin-top: 0; 
        padding-top: 48px;
    }

}

@media (min-width: 1158px) {
    .service-section {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-d1x.jpg");
    }

    .container,
    .footer-block 
     {
        max-width: 1158px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .service-section {
        height: 600px;
    }


    .main-title {
        margin-top: 188px;
        margin-bottom: 48px;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 107.143% */
        letter-spacing: 1.12px;
        width: 496px;
    }

    .header-container{
        display: flex;
        flex-direction: column; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        opacity: 1;
        position: relative;
        pointer-events: auto;
    }

    .header-nav-link {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.32px;
    }

    .link {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 0.32px;
    }

    .logo {
        margin-right: 76px;
    }

    .about-us-list{
        flex-direction: row;
        margin-top: 120px;
        width: 100%;
        column-gap: calc((100% - (264px)*4)/3);
    }

    .icon-container {
        display: flex;
        background-color: #F4F4FD;
        border-color: #8E8F99;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px; 

        opacity: 1;
        pointer-events: all;
    }

    .second-section-container {
        width: 100%;
        padding-bottom: 120px;
    }

    .about-us-li {
        margin-top: 0;
        max-width: 264px;
    }

    .about-us-name {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;
    }

    .about-us-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.32px;
    }

    .team-title {
        margin-top: 120px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0;
        column-gap: calc((100% - (264px)*4)/3);
    }

    .team {
        padding-bottom: 120px;
    }

    .portfolio {
        padding-top: 120px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: calc((100% - (360px)*3)/2);

    }

    .portfolio-card {
        max-width: 360px;
        width: 360px;
        height: 420px;
    }

    .portfolio-img {
        max-width: 360px;
        width: 360px;
        height: 300px;
    }



    .header-nav-addr {
        display: flex;
        flex-direction: row;

    }

    .footer-block {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .our-footer {
        padding-bottom: 100px;
    }

    .subs-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .mobile-header {
        opacity: 0;
        position: fixed;
        pointer-events: none;
    }

}

@media screen and (min-resolution: 192dpi) {
    .service-section {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-m2x.jpg");
    }
}

@media screen and (min-resolution: 192dpi) and  (min-width: 768px) {
        .service-section {
            background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
            url("../images/hero-p2x.jpg");
        }
    }

@media screen and (min-resolution: 192dpi) and  (min-width: 1158px) {
    .service-section {
        background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-d2x.jpg");
    }
}

.modal-overlay{
    opacity: 0;
    pointer-events: none;
}

.menu-overlay {
    opacity: 0;
    pointer-events: none;
}

